<div class="container" my="3">
    <div class="card-body">
      <h5 class="card-title">About This Angular App</h5>
      <p class="card-text">Our Todo List by Wisher is a user-friendly application designed to help you manage your daily tasks and responsibilities with ease. Whether you're a busy professional, a student, or simply looking to stay organized, our application is here to assist you. With its intuitive interface and powerful features, you can effortlessly create and organize your todo lists, ensuring that no task slips through the cracks.

      </p>
      <p>Using the cutting-edge technology of AngularJS, our application provides a seamless and responsive user experience. You can easily add your regular duties and obligations to the list, setting deadlines and priorities to keep track of your progress. As you complete each task, simply tick it off as done, giving you a sense of accomplishment and motivation.</p>
        
        <p>Our mission is to simplify your life and make task management a breeze. Whether it's managing work-related projects, personal goals, or household chores, Todo List by Wisher empowers you to stay on top of your commitments. Say goodbye to forgetfulness and disorganization, and hello to a more productive and fulfilling life.</p>
        
        <p>Experience the convenience and efficiency of our Todo List by Wisher application today. Start ticking off your todos and enjoy the satisfaction of a well-managed life.</p>
      <a routerLink="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>
